@use "../../global" as *;

.p-recommend {
  display: flex;
  align-items: center;

  @include mq(md) {
    flex-direction: column;
    padding: 40px 20px;
  }

  &__content {
    width: 50%;

    @include mq(md) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__content-inner {
     // 520px以上ならmlが効いてくる
    max-width: 520px;
    margin-left: auto;
    padding: 0 60px 0 20px;

    @include mq(md) {
      max-width: 100%;
      padding: 0;
    }
  }

  &__text {
    @include fz(15);
    line-height: 1.8;
    text-align: justify;
  }

  &__img-wrapper {
    width: 50%;

    @include mq(md) {
      width: 100%;
    }
  }

  &__img {
    height: 480px;
    -o-object-position: left;
       object-position: left;
    -o-object-fit: cover;
       object-fit: cover;

    @include mq(md) {
      height: auto;
      -o-object-fit: contain;
         object-fit: contain;
    }
  }
}